@media screen and (max-width: 1920px) {
  .header__burger {
    display: none;
  }
  .footer__layout {
    margin: 40px 220px 24px 220px;
  }
}
@media screen and (max-width: 1440px) {
  .header__button {
    margin-left: 164px;
  }
  .main-content__layout {
    display: grid;
    grid-gap: 24px;
  }

  .article__content-content {
    grid-template-columns: 690px;
  }
  .articles__box-size {
    width: 690px;
  }
  .article__content-content_text {
    width: 642px;
  }
  .images-item {
    width: 333px;
  }

  .article__content-image--right {
    padding-left: 85px;
  }
  .footer__layout {
    margin: 40px 120px 24px 120px;
  }
}
@media screen and (max-width: 1024px) {
  body {
    background-image: none;
  }
  .header__button {
    margin: 0;
  }
  .articles-filter {
    display: flex;
    margin-top: 32px;
    flex-wrap: wrap;
    gap: 8px;
  }
  .body__article {
    background-image: none;
  }
  .articles:nth-child(-n + 3) {
    grid-template-rows: 260px 1fr;
  }
  .footer__layout {
    margin: 40px 26px 78px 38px;
  }
  .footer__content {
    gap: 21px;
    height: 184px;
  }
  .footer__nav {
    gap: 30px;
  }
  .footer__form {
    width: 450px;
  }
}
  @media screen and (max-width: 768px) {
    .header__menu, .header__button {
      display: none;
    }
    .header__burger {
      display: flex;
    }
    .articles:nth-child(-n + 3) {
      grid-template-rows: 404px 1fr;
    }
    .articles:nth-child(n + 3) {
      grid-template-rows: 206px 1fr;
      grid-column: span 3;
    }
    .articles:nth-child(1) {
      grid-column: 1 / 7;
    }
    .articles:nth-child(2) {
      grid-column: 1 / 7;
    }
    .articles:nth-child(2n + 3) {
      grid-column: 1 / 4;
    }
    .articles:nth-child(2n + 4) {
      grid-column: 4 / 7;
    }
    .footer {
      height: 454px;
    } 
    .footer__layout {
      margin: 35px 20px 235px 20px;
    }
    .footer__content {
      display: flex;
      flex-flow: row wrap;
      gap: 21px;
    }
    .footer__form {
      width: 450px;
    }
    .footer__social {
      margin-top: 16px;
    }
    .footer__icons {
      margin-top: 30px;
    }
    input {
      width: 375px;
    }
    .footer__p {
      width: 444px;
    }
    .footer__info {
      margin-top: 175px;
    }
  }
  @media screen and (max-width: 414px) {
    .grid__layout {
      gap: 0;
    }
    .article-section {
      width: 100%;
    }
    .articles-filter {
      overflow-x: auto;
      flex-wrap: nowrap;
      height: 32px;
    }
    .articles {
      grid-template-columns: 100%;
      grid-template-rows: 206px 1fr;
    }
    .article__title {
      font-size: 18px;
    }
    .articles:nth-child(n + 1) {
      grid-column: 1 / 7;
    }
    .breadcrumb {
      width: 100%;
    }
    .breadcrumb__overflow {
      white-space: nowrap; 
      overflow: hidden;  
      text-overflow: ellipsis;
    }                                                                                                                                                                                                                                                                                                                                                                                                              
    .footer__form-input {
      width: 375px;
    }
    .footer {
      margin-top: 59px; 
      height: 746px;
    }
    .footer__grid {
      width: 375px;
    }
  
    .footer__layout {
      margin: 35px 20px 37px 19px;
    }
  
    .footer__p {
      padding-top: 12px;
      width: 375px;
    }
    .footer__info {
      margin-top: 375px;
    }
    .footer__info--layout {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-top: 20px;
    }
  }
  @media screen and (max-width: 320px) {
                                                                                                                                                                                                                                                                                                                                                                 
  input {
      margin-top: 8px;
      width: 288px;
      
    }
    .footer__form-input {
      width: 288px;
    }
    .footer {
      height: 746px;
    }
    .footer__layout {
      margin: 35px 14px 37px 18px;
    }
    .footer__form-button {
      display: none;
    }
    .footer__form {
      width: 288px;
      margin-right: 14px;
    }
    .footer__form-box {
      width: 260px;
    }
    .footer__grid {
      width: 288px;
    }
  
    .footer__p {
      width: 288px;
    }
    .footer__info {
      margin-top: 400px;
    }
  }
  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
  
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
 
 
 
 

 
 
 

 
 
 
 
 
 
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
 
 
 
 
