@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    width: 1200px;
    margin: 0 auto;
} 

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    background: url('../img/background.png') no-repeat;
    background-position: 0 410px;
    background-size: 100%;
    z-index: 0;
 }
header {
    color: rgb(92, 105, 177);
    padding: 15px;
    border-bottom: 1px solid #E3F5F5;
}
nav {
    max-width: 1440px;
    margin: 0 auto;
    
}
.ul_navigation {
    list-style: none; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ul {
    color: gray 1;
    margin: 5px;
    padding-left: 10px;
}
p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: gray 1;
}
.a {
    font-family: "Montserrat", sans-serif; 
    color: #333333;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.button  {
    font-family: "Montserrat", sans-serif;
    background-color: #E3F5F5;
    border: none;
    cursor: pointer;
}
.button_desktop {
    color: #03B2A5;
    width: 230px;
    height: 48px;
}
.navigation_item {
    margin-top: 16px;
    display: flex;
    align-items: left;
    column-gap: 8px;
}
.h1_title {
    margin-top: 6px;
    text-shadow: 2px 2px 2px grey;
    font-size: 48px;
}
.card__content-title {
    margin-top: 16px;
    margin-left: 16px;
}
.ul_blog {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;  
    
}
.li_item {
    display: flex;
    column-gap: 4px;
    border: solid 1px #C1C5CD;
    border-radius: 24px;
    padding: 6px;

}
.main__cards-wrapper {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}
.main__cards-box {
    position: relative;
    border: solid 1px #C1C5CD;
    width: 588px;
    height: 500px;
    border-radius: 16px;
    overflow: hidden;
    background-color: #fff;
}
.card__image-box {
    height: 260px;
    background: url(../img/eggs.png) no-repeat;
}
.card__content-box {
    display: grid;
    grid-template-rows: repeat(4, 60px);
    margin-top: 0;
    height: 240px;
   
}
.card__image-running {
    background: url(../img/runingman.png) no-repeat;
}
.card__items-box {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-top: 8px; 
    margin-left: 8px;
    position: absolute;
}

.card__items {
    display: flex;
    column-gap: 4px;
    border: solid 1px #C1C5CD;
    background-color: rgba(255, 255, 255, 0.7);
    line-height: 32px;
    border-radius: 24px;
    padding: 6px;
}
.items_small {
    width: 67px;
}

.content__text {
    padding-left: 16px;
    
}
.card__content-author {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: gray 1;
    margin-bottom: 4px;
    margin-left: 16px;
}
.author_margin {
    margin-top: 35px;
    margin-left: 16px;
}
.card__content-text {
    font-size: 14px;
    margin-left: 16px;
    margin-top: 0;
}
.text_margin {
    font-size: 14px;
    margin-left: 16px;
    margin-top: 20px;
}

.card__content-date {
    margin-left: 16px;
    margin-top: 25px;
}
.wrapper__grid {
    margin-top: 23px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
}
.card_size {
    width: 384px;
    height: 475px;
}
.content_grid {
    display: grid;
    grid-template-rows: repeat(4, 54px);
    margin-top: 0;
    height: 216px;
}
.one {
    background: url(../img/sleepingwoman.png) no-repeat;
}
.two {
    background: url(../img/womanswim.png) no-repeat;
}    
.three {
    background: url(../img/angry.png) no-repeat;
}
.four {
    background: url(../img/womantable.png) no-repeat;
}
.five {
    background: url(../img/womanbed.png) no-repeat;
}
.six {
    background: url(../img/threeman.png) no-repeat;
}
.main__button-more {
    display:flex;
    justify-content: center;
    margin-top: 56px;
}
.main__button {
    background-color: #35B3A9;
    border: none;
    color: #FFF;
}
.button_more {
    width: 182px;
    height: 42px;
}

footer {
    margin-top: 96px;
    width: 100%;
    height: 302px;
    background-color: #2963A3;
}
.footer__grid {
    padding-top: 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns: repeat(4, auto); */
    height: 184px;
    
}
.footer__nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 184px; 
}
.footer__nav-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.footer__a {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.footer__form {
    width: 486px;
}
input {
    width: 384px;
    height: 48px;
    border: none;
    border-radius: 4px; 
    background: url('../img/sendicon.png') no-repeat right;
    background-color:#FFF;
}
input[type=text]::placeholder {
    color: #9D9D9D;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    padding-left: 16px;
}
.footer__h3 {
    margin-top: 0;
    margin-left: 0;
    color: #fff;
    font-size: 18px;     
    font-weight: bold; 
}
.footer__p {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
}
.footer__logo {
    display: flex;
    flex-direction: row;
}
.footer__icons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}
.logo__p {
    padding-left: 8px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.footer__info {
    margin-top: 24px;
    border-top: 1px solid #9D9D9D;
    display: flex;
    flex-direction: row;
    column-gap: 48px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.text__uppercase {
    text-transform: uppercase;
}